/* font-family: 'Hind Siliguri', sans-serif;

font-family: 'Poiret One', cursive; */

.wrapper {
    max-width: 1080px;
    margin: 0 auto; 
}

header {
    height: 80vh; 
    background: linear-gradient(180deg, #298776 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #1D3548 0%, rgba(255, 255, 255, 0) 100%), #50C17F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

h1 {
    font-size: 60px;
}

.flexContainer {
    display: flex; 
    align-items: center;
    height: 80vh;
}

.containerOne {
    width: 40%;
    flex-direction: row; 
}

.containerTwo {
    width: 25%; 
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

label,
input,
span, 
select,
button {
    margin: 10px;
    font-family: 'Hind Siliguri', sans-serif;
}

select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

