/* font-family: 'Hind Siliguri', sans-serif;

font-family: 'Poiret One', cursive; */

header {
    height: 80vh; 
}

h1 {
    font-size: 60px;
    margin: 10px 0px;
    color: #298776;
    
}

p {
    color:  #298776;
    line-height: 25px;
}

.flexContainer {
    display: flex; 
    align-items: center;
    height: 80vh;
}

.containerOne {
    width: 50%;
    flex-direction: row; 
}

.containerTwo {
    width: 30%; 
    margin: 0 auto;
}
