/* SideMenu */

#hamburger,
label[for="hamburger"] {
	z-index: 100;
	position: fixed;
	right: 4rem;
	top: 3rem;
}

#hamburger {
	opacity: 0;
}

label[for="hamburger"] {
	color: #1D3548;
	cursor: pointer;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.0rem;
	height: 4.0rem;
	transition: 0.25s color, 0.25s background;
}


:not(:checked) + label[for="hamburger"]::before {
	content: 'Your Playlists';
	position: fixed;
	right: 9.3rem;
	top: 4.5rem;
	color: white;
	background-color: #1D3548;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	opacity: 0;
	transition: 0.25s opacity;
}

:not(:checked) + label[for="hamburger"]:hover::before {
	opacity: 100%
}

#hamburger:checked + label {
	color: white;
	background: none;
}

#hamburger:checked ~ .SideMenu {
	right: 0;
}

label[for="hamburger"]:hover,
#hamburger:focus + label {
	background-color: #1D3548;
	color: white;
}

#hamburger:checked + label:hover,
#hamburger:focus:checked + label {
	background-color: #fff;
	color: #1D3548;
}

.SideMenu {
	z-index: 90;
	position: fixed;
	right: -48rem;
	top: 0;
	width: 48rem;
	height: 100vh;
	padding: 2rem;
	background-color: #1D3548;
	color: white;
	transition: 0.5s right;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

.SideMenu h2 {
	font-size: 3.2rem;
	padding-bottom: 2.8rem;
}

@media (max-width: 768px) {
	.SideMenu {
		right: -40rem;
		width: 40rem;
	}
}

@media (max-width: 480px) {
	.SideMenu {
		right: -32rem;
		width: 32rem;
	}
}