.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

button {
  margin: 0 auto;
  width: 75%;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #fff;
  color: #1f685a;
  transition: all .3s;
}

button:hover,
button:focus {
  background-color: #50C17F;
  color: #fff;
  transform: scale(1.1);
  border-radius: 11px;
  /* box-shadow: 2px 2px 5px #fff; */
}

.App {
	position: relative;
	min-height: 100vh;
	padding-bottom: 5rem;
}

.loading {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pageButton {
  padding: 10px 20px;
  margin-bottom: 40px;
}

.page {
  text-align: center; 
}