footer {
	width: 100%;	 
	position: absolute;
   bottom: 0;
}

.footerBar { 
   text-align: center;
   background: linear-gradient(10deg, #298776 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, #1D3548 0%, rgba(255, 255, 255, 0) 100%), #50C17F;
   height: 12vh;
   padding-top: 20px;
}

.containerDiv {
   line-height: 40px;
   font-size: 20px;
}

.container p {
   width: 100%;
   color: #c4f0d6;
}


.junoMade { 
   font-size: 12px;
   margin-top: 4rem;
}

