/* FOOTER STYLES */

footer {
	width: 100%;	 
	position: absolute;
   bottom: 0;
}

footer a {
   color:#1D3548;
}

.footerBar { 
   text-align: center;
   background-color: #1D3548;
   height: 7rem;
}

.containerDiv {
   line-height: 40px;
   font-size: 20px;
}

.containerDiv h3 {
   color: white;
   letter-spacing: 2px;
}

.containerDiv p {
   color: white;
}

.containerDiv a:hover,
.containerDiv a:focus {
   color: #a9cbe7;
}

.junoMade { 
   font-size: 1.6rem;
   background: linear-gradient(10deg, #298776 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, #1D3548 0%, rgba(255, 255, 255, 0) 100%), #50C17F;
}

.junoMade .wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.creators li {
   display: inline-block;
   padding: 0.5rem;
}

.creators a {
   padding: 0.5rem;
}


@media (max-width: 960px) {
   .junoMade .wrapper {
      flex-direction: column;
   }
}

@media (max-width: 768px) {
   .footerBar {
      height: 8vh;
   }

}